<html>
  <head>
    <meta charset="utf-8">
    {% include "bootstrap.html" %}
		{% load static %}
    <link rel="stylesheet" href="{%static 'resume.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
		<title>About Me</title>
  </head>

  <body>
    {% include "navigation.html" %}
    <br>
    <div class="mx-auto" style="width: 75%">
      <h4>About Me</h4>
    </div>

    <div class="mx-auto" style="width: 75%">
      <p>Hi, I’m Evan.</p>

      <p>
        Thanks for visiting my site. Here's a little bit about me:
      </p>

      <p>
        I'm currently at Chico State studying computer science. This semester (Spring 2024), I'm working part time for Lawrence Livermore National Laboratory. I'm also working with one of my professors to build an app for our Physics of Music class.
      </p>

      <p>
        I grew up in Fort Collins, Colorado. I have an older sister and younger brother. My siblings and parents all went to the University of Nebraska. I grew up watching Nebraska football and considered going, but I wanted to move to California for school because of the opportunity in technology.
      </p>

      <p>
        Lately I've been working a new project that I think is pretty cool. I learned in my CSCI 411 - Advanced Data Structures and Algorithms class about an algorithm that detects positive cycles within graphs. In a graph where nodes represent currencies and edges represent exchange rates, a positive cycle means that exchanging currencies in order corresponding to the graph cycle will give you more of the original currency than you started with. I'm using Python and Coingecko API to detect positive cycles in crypto currency exchange rates. Suprisingly, it has been working, but most exchange platforms charge an exchange fee that costs more than the profit of each cycle. You can find that project on my Github if you want to check it out.
      </p>

      <p>
        I’m excited to keep learning more and I plan on updating this site with new projects. Thanks for reading my About Me page.
      </p>
    </div>
  </body>
</html>
