<html>
  <head>
    <meta charset="utf-8">
    {% include "bootstrap.html" %}
		{% load static %}
    <link rel="stylesheet" href="{%static 'resume.css' %}"/>
		<title>About Me</title>
  </head>

  <body>
    {% include "navigation.html" %}
    <br>
    <div class="mx-auto" style="width: 1000px">
      <h4>About Me</h4>
    </div>

    <div class="mx-auto" style="width: 1000px">
      <p>Hi, I’m Evan.</p>

      <p>
        I grew up in Fort Collins, CO with an older sister and younger brother. My parents met at the University of Nebraska-Lincoln, where they both studied electrical engineering. They passed down the engineering genes to me.
      </p>

      <p>
        I was in 4th grade the first time I saw code. My older sister was taking a computer class, where I saw her using Scratch to build a game by dragging and dropping code blocks onto the screen. I was interested and started to build my own games.
      </p>

      <p>
        I’m now studying computer science at Chico State and plan to graduate in the Spring of 2025. It’s cool that I can go to school for something I would be doing outside of class anyway. I especially liked my  Data Structures and Algorithms, Operating Systems, and Embedded Systems classes. I’m also glad I took Web last semester (Spring 2023) so I can build this site. We used Django, but I’m planning to learn React too.
      </p>

      <p>
        I’m currently interning at Lawrence Livermore National Lab until December of 2023. I’m working on full-stack development with a team of engineers to build and improve radiation and contamination test tracking software. I have really enjoyed my time at the lab so far.
      </p>

      <p>
        I’m excited to keep learning more and I plan on updating this site with new projects. Thanks for reading my About Me page.
      </p>
    </div>
  </body>
</html>
