<html>
  <head>
    <meta charset="utf-8">
    {% include "bootstrap.html" %}
		{% load static %}
    <link rel="stylesheet" href="{%static 'resume.css' %}"/>
		<title>About Me</title>
  </head>

  <body>
    {% include "navigation.html" %}
    <br>
    <div class="mx-auto" style="width: 1000px">
      <h4>About Me</h4>
    </div>

    <div class="mx-auto" style="width: 1000px">
      <p>Hi, I’m Evan. I’m currently studying computer science at Chico State and plan to graduate in the Spring of 2025.</p>

      <p>
        I grew up in Fort Collins, CO with an older sister and younger brother. My parents met at the University of Nebraska - Lincoln, where they both studied electrical engineering. They passed down the engineering genes to me. My first experience with engineering was in elementary school when my dad came to my class for Engineering Day. We did a toothpick and marshmallow tower competition and my group won by making the tallest tower. For my birthday that year, my parents got me an electronic board that I could wire to blink lights, make sounds, etc. I liked to prank my siblings by using the board to record funny messages and leaving them for my siblings to listen to.
      </p>
      
      <p>
        I was in 4th grade the first time I saw code. My older sister was taking a computer class. I saw her using Scratch to build a game by dragging and dropping code blocks onto the screen. I was very competitive and thought that I could do better. I remember building a basketball game, a laser tag game, and a bunch more.
      </p>

      <p>
        My parents saw my interest in coding and electronics and got me an Arduino. I hated it at first. Learning C++ was much more difficult than moving code blocks around the screen. Eventually, I came around and made some pretty cool projects using it. I made a clock, a rock paper scissors game, and many more projects. I made my favorite project with my friend Melak. We built an alarm clock that slaps you to wake you up.
      </p>
        
      <p>
        With the help of my dad, I also made a remote control submarine from a remote control car and a water bottle. Then, 2 years later, I made a better one from scratch so that I could explore the lakes in my neighborhood. I told my friend Brayden about them in 8th grade and he told me that I should join my high school’s robotics team the next year. I did.
      </p>
        
      <p>
        The people on the robotics team had some sweet projects. People on the team had made electric skateboards, RC airplanes, and many more projects that I wanted to make. I especially liked the idea of building a PC. I did my research and ordered all the pieces. They showed up the last week of my freshman year of high school, but my mom wouldn’t let me start building until I finished all of my finals. The last day of school was a half-day, so when I got home I started building. I finished building by the time my parents got home from work.
      </p>
      
      <p>
        My mom suggested that I learn to code on my new PC. I found out that you can use VS Code and C# to make windows forms apps. I had a lot of fun trying to make an app that repeatedly made popup messages on the screen until you were forced to restart your computer. I also made a program that used past stock data to try and predict which stocks to buy. It worked well during my testing, but I’m guessing I just got lucky. Choosing computer science as my major was an easy choice after that. You can see the projects that I’ve been working on recently on my Github and my resume. 
      </p>

      <p>
        Since coming to Chico, I’ve had a great time studying computer science. It’s cool that I can go to school for something I would be doing outside of class anyways. I especially liked Data Structures and Algorithms, Operating Systems, and Embedded Systems. I’m also glad I took Web this past semester (Spring 2023) so I can build this site. We used Django, but I’m planning to learn React outside of class.
      </p>
        
      <p>
        Chico’s chapter of Upsilon Pi Epsilon (UPE), the computer science honors society, does a mentorship program every year. I participated this semester (Spring 2023) and was matched up with my mentor Joseph Levin. Joseph graduated from Chico State in 2022 and works for Aruba Networks now. We met weekly, and it was great hearing about his path from school to industry. We also talked about how to be successful outside of school and work, which I tend to overlook.
      </p>

      <p>
        I’m excited to keep learning more and I plan on updating this site with new projects. Thanks for reading my about me page.
      </p>
    </div>
  </body>
</html>