<html>
  <head>
    <meta charset="utf-8">
    {% include "bootstrap.html" %}
		{% load static %}
		<link rel="stylesheet" href="{%static 'resume.css' %}"/>
		<title>Photos</title>
  </head>

  <body>
    {% include "navigation.html" %}
    <br>
    <h4> Here is a collection of pictures that I've taken so you can get to know me better. These photos were taken a bunch of differnt places including Colorado, Chico, San Francisco, Miami, and Germany.</h4>
    
    {% for image in images %}
      <img src="/{{ path }}/{{image}}" alt="{{image}}" height="400">
    {% endfor %}

  <body/>
</html>
