<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="/" style="color:white;">My Site</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/resume" style="color:white;">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/photos" style="color:white;">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vote" style="color:white;">Vote</a>
            </li>
    </div>
</nav>
